body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    padding: 0;
}

img {
    display: block;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

/* header syles */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}



.header-container {
    display: flex;


}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    margin-right: 76px
}

.logo-half {
    color: #2E2F42;
}

/* titles styles */


.navigation-menu {
    display: flex;
    gap: 40px;
}

.navigation-item {}

.titles {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.titles:hover,
.titles:focus {
    color: #404BBF;
}

.current {
    position: relative;
    color: #404BBF;
}

.current::after {
    content: "";
    border-radius: 2px;
    background-color: #404BBF;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
}

/* contacts styles */

.address-menu {
    display: flex;
    gap: 40px;
}

.address {
    font-style: normal;
    margin-top: 0;
    margin-left: auto;
}

.contacts:hover {
    color: #404BBF;
}

.contacts:focus {
    color: #404BBF;
}

.contacts {
    display: block;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* main styles */

/* first section styles */

.banner {

    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/background-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 188px 0;
    max-width: 1440px;
}

.banner-header {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    padding: 0;
    margin: 0 auto;
}

.button {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: 48px;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}


/* second section styles */

.benefits {
    background-color: #FFF;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item-container {
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.benefits-icon {}

.benefits-item {
    width: calc((100% - 72px) / 4);
}

.benefits-inside-header {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.benefits-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* third section styles */

.teams {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-cards {
    background: #FFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
    padding: 32px 0;
    background-color: #FFFFFF;
}

.team-header {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-inside-header {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-paragraph {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

/* team-links-list */

.team-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404BBF;
}

.team-icon {
    fill: #f4f4fd;
}

/* fourth section styles */

.portfolio {
    background-color: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-header {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.project-cards {
    background: var(--WHITE, #FFF);
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-cards:hover .project-cover-text {
    transform: translateY(0%);
}

.project-cards:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-header {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.project-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* .project-cover-container {
    position: absolute;
    top: 0;
    background-color: #4D5AE5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms linear; */

.project-cover-text {
    position: absolute;
    top: 0;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
}

.project-cover-wrap {
    position: relative;
    overflow: hidden;
}


/* footer styles */

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-footer {
    color: #F4F4FD;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 0;
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;

}

.footer-definition {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px
}


/* footer-social */

.footer-soc-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
    gap: 16px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31D0AA;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-container {
    margin-right: 120px;
}